<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/creadb">
        <input type="submit" value="Crea DB">
    </form>
    <form method="POST" action="/dropdb">
        <input type="submit" value="Drop DB">
    </form>
    <div class="autori">
        <h1>Autori</h1>
        <table style="width:100%">
            <tr>
                <td>ID</td>
                <td>Nome</td>
                <td>Cognome</td>
                <td>Modifica</td>
                <td>Elimina</td>
            </tr>
            <% if (typeof autori !== 'undefined') { %>
             <% autori.forEach(autore => { %>
                    <tr>
                        <td> <%= autore.ID_autore %> </td>
                        <td> <%= autore.nome %> </td>
                        <td> <%= autore.cognome %> </td>
                        <td><a href="/modifica/autore/<%= autore.ID_autore %> ">Modifica</a></td>
                        <form action="/delautori" method="POST">
                            <input type="hidden" name="id_autore" value="<%= autore.ID_autore %> ">
                            <td> <input type="submit" value="Elimina"></td>
                        </form>
                    </tr>
                <% }) %>
            <% } %>
                
            <form action="/addautore" method="POST">
                <tr>
                    <td> <input type="text" name="id_autore" value=""> </td>
                    <td> <input type="text" name="nome" value=""> </td>
                    <td> <input type="text" name="cognome" value=""> </td>
                    <td> <input type="submit" value="Aggiungi"> </td>
                    <td></td>
                </tr>
            </form>
        </table>
    </div>
    <div class="libri">
        <h1>Libri</h1>
        <table style="width:100%">
            <tr>
                <td>ID</td>
                <td>Titolo</td>
                <td>id_autore</td>
                <td>Modifica</td>
                <td>Elimina</td>
            </tr>
            <% if (typeof libri !== 'undefined') { %>
             <% libri.forEach(libro => { %>
                <tr>
                    <td> <%= libro.ID_libro %> </td>
                    <td> <%= libro.titolo %> </td>
                    <td> <%= libro.autore %> </td>
                    <td><a href="/modifica/libro/<%= libro.ID_libro %> ">Modifica</a></td>
                    <form action="/dellibri" method="POST">
                        <input type="hidden" name="id_libro" value="<%= libro.ID_libro %> ">
                        <td> <input type="submit" value="Elimina"></td>
                    </form>
                </tr>
            <% }) %>
            <% } %>
            
            <form action="/addlibri" method="POST">
                <tr>
                    <td> <input type="text" name="id_libro" value=""> </td>
                    <td> <input type="text" name="titolo" value=""> </td>
                    <td> <select name="autore">
                        <% if (typeof autori !== 'undefined') { %>
                         <% autori.forEach(autore => { %>
                                <option value="<%= autore.ID_autore %>" > <%= autore.ID_autore %> - <%= autore.nome %> </option>
                            <% }) %> 
                        <% } %>
                            
                        </select>   
                    </td>
                    <td> <input type="submit" value="Aggiungi"> </td>
                    <td></td>
                </tr>
            </form>
        </table>
    </div>
</body>
</html>